/*------------------------------------------------------------------------------*/
/* Selectores Generales                                                         */
/*------------------------------------------------------------------------------*/

body {
    font-family: 'Open Sans', sans-serif;
    color: #54585a;
    background-color: #fff;
}

main {
    min-width: 395px;
}

h1 {
    font-family: 'Rubik', sans-serif;
    color: #099d8d;
    text-transform: uppercase;
}
/*------------------------------------------------------------------------------*/
/* Inicio sección header                                                        */
/*------------------------------------------------------------------------------*/

#nav {
    position: fixed;
    width: 100%;
    min-width: 250px;
}

#iconos-navbar {
    text-transform: uppercase;
    font-size: 15px;
    text-decoration-color: gray;
}

.bg-nav {
    background-color: #099d8d;
    min-width: 395px;
    z-index: 1;
    position: fixed;
    width: 100%;
}

@media (min-width: 768px) {
    .title-nav {
        padding-left: 50px;
    }
    
    .links-nav {
        padding-right: 50px;
    }
}

    
@media (max-width: 320.1px) {
    .bg-navbar {
        background-color: #14d9c4;                    
    } 
}

#nombres:hover {
    color: #fff;
    background-color: #099d8d;
}

#banner {
    width: 100%;
    height: 100%;
    
}

#imagen {
    height: auto;
    width: auto;
    min-width: 400px;
    min-height: 200px;
}

.banner-title {
    position: relative;
    background-color: #ffffff;
    opacity: 0.8;
    width: 50%;
    height: 100px;
    bottom: 100px;
    left: 100px;
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    text-align: start;
}

@media (max-width: 767.94px) {
    .banner-title {
        opacity: 1;
        width: 50%;
        height: 100px;
        bottom: 50px;
        left: 25%;
    }
}

#imagen-formulario {
    height: auto;
    width: 100%;
    min-width: 400px;
    min-height: 200px;

}

/*------------------------------------------------------------------------------*/
/* Inicio Sección Equipo                                                        */
/*------------------------------------------------------------------------------*/

.equipo{
    background-color: white;
    text-align: center;
    font-size: 16px;
    color: #54585A;
}

.fortalezas .title{
    color: #099D8D;
    font-size: 22px;
    font-family: 'Rubik', sans-serif;    
}

.fortalezas p {
    color: #54585a;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

.fortalezas {
    background-color: #e5e9e9;
}

.debilidades {
    background-color: #e5e9e9;
}

@media (min-width: 768px) {
    .fortalezas {
        border-radius: 0 25px 0 0;
        background-color: #e5e9e9;
    }
    
    .debilidades {
        border-radius: 25px 0 0 0;
        background-color: #e5e9e9;
    }
}

.debilidades .title{
    color: #099D8D;
    font-size: 22px;
    font-family: 'Rubik', sans-serif;    
}

.debilidades p {
    color: #54585a;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;   
}

/*------------------------------------------------------------------------------*/
/* Inicio Sección Quienes Somos                                                 */
/*------------------------------------------------------------------------------*/

body main #quienes_somos h2 {
    font-family: 'Open Sans', sans-serif;
    text-transform: capitalize;
    font-weight: bolder;
    color: black;
}

body main #quienes_somos span a i {
    font-size: 25px;
    color: #099d8d;
}

@media (min-width: 768px) {
    body main #quienes_somos p {
        text-align: justify;
    }
}

@media (max-width: 575.98px) {
    h1{
        font-size: 30px;
    }
}

/*------------------------------------------------------------------------------*/
/* Inicio Sección Footer                                                          */
/*------------------------------------------------------------------------------*/

h4 {
    color: #14d9c4;
}

#contacto h1 {
    color: #099d8d;
}

#contacto .campos {
    font-size: 12px;
}

#formulario input {
    font-size: 16px;
}

#enviar {
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    background-color: #099d8d;
    font-size: 16px;
}

footer ul a {
    color: #b8b8b9;
}

footer span {
    color: #b8b8b9;
}

#barra {
    background-color: #14d9c4;
}

footer {
    min-width: 395px;
}