body main #quienes_somos h1{
    font-family: 'Rubik', sans-serif;
    color: #099d8d;
    text-transform: uppercase;
}

body main #quienes_somos h2 {
    font-family: 'Open Sans', sans-serif;
    text-transform: capitalize;
    font-weight: bolder;
}

body main #quienes_somos p {
    font-family: 'Open Sans', sans-serif;
    color: #54585a;
}

body main #quienes_somos span a i {
    font-size: 25px;
    color: #099d8d;
}

@media (min-width: 768px) {
    body main #quienes_somos p {
        text-align: justify;
    }
}
@media (max-width: 575.98px) {
    body main #quienes_somos h1{
        font-size: 30px;
    }
}