.container-fluid{
    background-color: rgb(223, 223, 223);
    text-align: center;
    font-size: 16px;
    padding: 80px;
    color: #54585A;
    
}


.title{
    
    color: #099D8D;
    font-size: 22px;
    
}